.Rules {
    display: flex;
    flex-direction: column;
}

.Rules img {
    width: 40px;
    height: 40px;
}

#heart {
    width: 25px;
    height: 25px;
    margin: 0 1%;
}

.Rules h1 {
    overflow: hidden;
    border-right: .15em solid #f5a977; 
    white-space: nowrap; 
    margin: 0 auto;
    letter-spacing: .1em;
    animation: 
    typing 2.5s steps(20, end),
    blink-caret .75s step-end infinite;
    margin-bottom: 5vh;
}

@keyframes typing {
    from { width: 0 }
    to { width: 80% }
  }

@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #f5a977; }
  }


.Rules p {
    margin: 5% 8%;
    text-align: justify;
}